.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.categories-cards article {
    background-color: var(--background-secondary-color);
    width: 312px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.categories-cards article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 24px 16px;
    gap: 24px;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    line-height: 100%;
}

.categories-cards article a img {
    object-fit: contain;
    width: 88px;
    height: 88px;
}

.categories-cards article a h3 {
    width: 270px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .categories-cards article {
        width: 420px;
    }
}

@media screen and (min-width: 1440px) {
    .categories-cards article {
        width: 288px;
    }
}